body {
    
}

.container .gambar {
    background-color: cadetblue;
    width: 1250px;
    height: 461px;
}

.container .gambar img {
    margin-left: 111px;
    padding-top: 62px;
    width: 338px;
    height: 338px;
}

.container .table table {
    margin-top: -330px;
    margin-left: 660px;
    color: lite black;
}

.container .Nama {
    font-size: 80px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.container .Job {
    font-size: 30px;
}

.container .Sifat {
    font-size: 28px;
    font-style: italic;
}

.container .about {
    background-color: rgb(215, 248, 240);
    width: 767px;
    height: 575px;
    margin-top: 15px;
}

.about {
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
}

.about h1  {
    font-size: 45px;
    margin-top: -5px;
}

.deskripsi {
    font-size: 15px;
    margin-top: -30px;
}

.deskripsi a{
    text-decoration: none;
    color: rgb(22, 85, 54);
}

.about p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    font-size: 17px;
}

.skill {
    background-color: cadetblue;
    width: 408px;
    height: 575px;
    margin-top: 15px;
    margin-left: 812px;
    padding: 15px;
}

.skill h1 {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: -5px;
}

.skill .contact {
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.skill .gambar1 img {
    width: 35px;
    height: 35px;
}

.skill .gambar2 img {
    width: 30px;
    height: 25px;
}

.skill .gambar3 img {
    width: 35px;
    height: 35px;
}

.skill .gambar4 img {
    width: 35px;
    height: 35px;
}

.skill .nomer {
    font-size: 17px;
}

.skill .gmail {
    font-size: 17px;
}

.skill .linkedin {
    font-size: 17px;
}

.skill .gitlab {
    font-size: 17px;
}

.footer {
    background-color: grey;
    height: 60px;
    width: 1250px;
}

.copy {
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    color: whitesmoke;
}